body {
    background: #121214;
    color: #e1e1f6;
}

.header{
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    .brand{
        text-decoration: none;
        font-weight: bold;
        color: white;
    }
    .nav{
        display: inline-flex;
        li{
            list-style: none;
            padding: 16px;

            a{
                text-decoration: none;
                color: #fff;
                padding-bottom: 2px;
            }
            a:hover{
                border-bottom: 1px white solid;
            }
        }
    }
}